@import "@bryntum/calendar/calendar.stockholm.css";

.white-divider div {
  border-color: #fff !important;
}

;

.header-text-white div {
  color: #fff !important;
  font-size: 24px !important;
}

/* Navbar Style */

/* #headlessui-disclosure-button-nQ5bhjxrh1P_114, #headlessui-disclosure-button-nQ5bhjxrh1P-5  {
  background-color: #9b4b99!important;
}

#headlessui-disclosure-button-nQ5bhjxrh1P_114 button:hover::before, #headlessui-disclosure-button-nQ5bhjxrh1P-5 button:hover::before  {
  background-color: #b95db7!important;
}

#headlessui-disclosure-button-nQ5bhjxrh1P_114 button, #headlessui-disclosure-button-nQ5bhjxrh1P-5 button, #headlessui-disclosure-button-nQ5bhjxrh1P_114 button span, #headlessui-disclosure-button-nQ5bhjxrh1P-5 button span {
color:#fff!important;
} */


/* MENU STYLES */
.menuPurple {
  background-color: #9b4b99 !important;
  border-bottom: 1px solid #fff;
}

.menuPurple button:hover::before,
.menuPurple a:hover::before,
.menuPurple a.text-gray-900::before {
  background-color: #b95db7 !important;
}

.menuPurple button,
.menuPurple button span,
.menuPurple a,
.menuPurple a span {
  color: #fff !important;
}

.menuPurple ul li span.bg-gray-400,
.menuPurple ul li span.bg-gray-900,
.menuPurple ul li span.bg-gray-200::before,
.menuPurple ul li span.bg-gray-400::after {
  background-color: #fff !important;
}

/* --- */

.menuTeal {
  background-color: #15889c !important;
  border-bottom: 1px solid #fff;
}

.menuTeal button:hover::before,
.menuTeal a:hover::before,
.menuTeal a.text-gray-900::before {
  background-color: #1da1b8 !important;
}

.menuTeal button,
.menuTeal button span,
.menuTeal a,
.menuTeal a span {
  color: #fff !important;
}

.menuTeal ul li span.bg-gray-400,
.menuTeal ul li span.bg-gray-900,
.menuTeal ul li span.bg-gray-200::before,
.menuTeal ul li span.bg-gray-400::after {
  background-color: #fff !important;
}

/* --- */

.menuBlue {
  background-color: #0d4c8b !important;
  border-bottom: 1px solid #fff;
}

.menuBlue button:hover::before,
.menuBlue a:hover::before,
.menuBlue a.text-gray-900::before {
  background-color: #1361ae !important;
}

.menuBlue button,
.menuBlue button span,
.menuBlue a,
.menuBlue a span {
  color: #fff !important;
}

.menuBlue ul li span.bg-gray-400,
.menuBlue ul li span.bg-gray-900,
.menuBlue ul li span.bg-gray-200::before,
.menuBlue ul li span.bg-gray-400::after {
  background-color: #fff !important;
}

/* --- */

.menuRed {
  background-color: #bf5163 !important;
  border-bottom: 1px solid #fff;
}

.menuRed button:hover::before,
.menuRed a:hover::before,
.menuRed a.text-gray-900::before {
  background-color: #ec6279 !important;
}

.menuRed button,
.menuRed button span,
.menuRed a,
.menuRed a span {
  color: #fff !important;
}

.menuRed ul li span.bg-gray-400,
.menuRed ul li span.bg-gray-900,
.menuRed ul li span.bg-gray-200::before,
.menuRed ul li span.bg-gray-400::after {
  background-color: #fff !important;
}

/* --- */

.menuGray {
  background-color: #666 !important;
  border-bottom: 1px solid #fff;
}

.menuGray button:hover::before,
.menuGray a:hover::before,
.menuGray a.text-gray-900::before {
  background-color: #777 !important;
}

.menuGray button,
.menuGray button span,
.menuGray a,
.menuGray a span {
  color: #fff !important;
}

.menuGray ul li span.bg-gray-400,
.menuGray ul li span.bg-gray-900,
.menuGray ul li span.bg-gray-200::before,
.menuGray ul li span.bg-gray-400::after {
  background-color: #fff !important;
}

/* --- */



/* Header Styles */


.gmsPurpleTitlebar h2, .gmsTealTitlebar h2, .gmsBlueTitlebar h2, .gmsRedTitlebar h2 {
  color: #000;
  font-size:16px;
}


.gmsPurpleHeader {
  background-color: #9b4b99;
}

.gmsPurpleHeader h1 {
  color: #fff !important;
  font-size:19px;
}

.gmsPurpleTitlebar {
  background-color: #bb8abc;
}



/* --- */

.gmsTealHeader {
  background-color: #15889c;
}

.gmsTealHeader h1 {
  color: #fff !important;
  font-size:19px;
}

.gmsTealTitlebar {
  background-color: #91bdca;
}

/* --- */

.gmsBlueHeader {
  background-color: #0d4c8b;
}

.gmsBlueHeader h1 {
  color: #fff !important;
  font-size:19px;
}

.gmsBlueTitlebar {
  background-color: #7491bd;
}

/* --- */

.gmsRedHeader {
  background-color: #bf5163;
}

.gmsRedHeader h1 {
  color: #fff !important;
  font-size:19px;
}

.gmsRedTitlebar {
  background-color: #bf5163;
}

/* --- */



/* Button Styles */
button {
  transition: all 0.1s;
}